@font-face {
  /* font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');

  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype'); */

  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype'),
    url('../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');

}

* {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  font-size: small;
}

td {
  font-family: monospace;
  font-size: 14px;
}