@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --cor-1: rgba(0, 0, 0, .5);
    --cor-2: rgba(0, 0, 0);
    --cor-3: rgb(255, 255, 255, .5);
    --cor-4: rgb(255, 255, 255);
    --cor-5: rgb(2, 0, 83);
    --cor-6: rgb(22, 41, 56);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row.dt-layout-row {
    margin-bottom: 0.25em;
    margin-top: 0.25em;

}
.pagination {
    justify-content: end;
    display:flex;
}

td {
    font-family: monospace;
    font-size: 14px;
}
a.page-link{
    font-size: 14px;
}