@font-face {
    /* font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');

  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype'); */

    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype'),
        url('../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');

}

* {
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #f7f7f7;
}

.container {
    margin-bottom: 0.5em;
    margin-top: 0.9em;
}

.navbar-brand{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
img {
    width: 30px;
    height: 30px;
    margin-right: .8em;
}

.row.dt-layout-row {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

ul.pagination {
    justify-content: end;
}

table {
    border: #fff8da4f;
}

td {
    font-family: monospace;
    font-size: 14px;
}